// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #b11212;
  --ion-color-primary-rgb: 177,18,18;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #9c1010;
  --ion-color-primary-tint: #b92a2a;

  --ion-color-secondary: #636161;
  --ion-color-secondary-rgb: 99,97,97;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #575555;
  --ion-color-secondary-tint: #737171;

  --ion-color-tertiary: #6f9aea;
  --ion-color-tertiary-rgb: 111,154,234;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #6288ce;
  --ion-color-tertiary-tint: #7da4ec;

  --ion-color-success: #008a15;
  --ion-color-success-rgb: 0,138,21;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #007912;
  --ion-color-success-tint: #1a962c;

  --ion-color-warning: #ced814;
  --ion-color-warning-rgb: 206,216,20;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #b5be12;
  --ion-color-warning-tint: #d3dc2c;

  --ion-color-danger: #f90000;
  --ion-color-danger-rgb: 249,0,0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #db0000;
  --ion-color-danger-tint: #fa1a1a;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-toolbar-background: var(--ion-color-primary, black);
  --ion-toolbar-color: var(--ion-color-primary-contrast, white);
}

